// Specific CSS for your home-page

#logo {
  padding-top: 15px;
  margin: auto;
  width: 40% ;
}

.title-home {
  color: white;
  font-size: 36px;
  font-weight: 700 !important;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  span{
    color: $purple;
  }
}

.subtitle-home {
  color: white;
  font-weight: 300 !important;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
}

.phone-anim {
  margin: auto;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  img {
  height: 320px;
  width: 320px;
  margin: auto;
}
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

.btn-start {
  color: white;
  font-weight: 700 !important;
  font-size: 30px;
  letter-spacing: 2px;
  background-color: $purple;
  border-radius: 50px;
  width: 70%;
  height: 48px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  position: relative;
  bottom: 15px;
}
