.titles {
  position: absolute;
  top: 80px;
  text-align: center;
  color: white;
  padding: 15px;
}

.buttons {
  position: absolute;
  top: 260px;
  left: 130px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  img {
    height: 80px;
  }
  span {
    padding-top: 5px;
    color: $purple;
    font-size: 12px;
    font-style: 700;
  }
}
