.titles {
  text-align: center;
  color: white;
  padding: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  transform: translateX();
  img {
    height: 80px;
  }
  #search-bar {
    img {
      height: 30px;
    }
  }
  span {
    padding-top: 5px;
    color: $purple;
    font-size: 16px;
    font-weight: 700;
  }
}
