<div id="card-address" class="card-addresses">
  <div class="card-addresses-infos d-flex">
    <div class="text-center w-100" data-address="<%= address.address %>">
      <i class="fas fa-bookmark"></i>
      <h2><%= address.name %></h2>
      <p><%= address.address %></p>
    </div>
    <%= link_to address_path(address), :data => {:confirm => 'Are you sure?'} , method: :delete, remote: true do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
