<div id="card-address" class="card-addresses" data-address="<%= address.address %>">
  <div class="card-addresses-infos d-flex">
    <div class="text-center w-100">
      <i class="fas fa-bookmark"></i>
      <h2><%= address.name %></h2>
      <p><%= address.address %></p>
    </div>
  </div>
</div>
