<div id="card-address" class="card-addresses">
  <div class="card-addresses-infos d-flex">
    <div class="text-center w-100 card-content" data-address="<%= address.address %>">
      <i class="fas fa-bookmark"></i>
      <h2><%= address.name %></h2>
      <p><%= address.address %></p>
    </div>
    <i id="sweet-alert-demo"class="fas fa-trash-alt"></i>
    <%= link_to address_path(address), method: :delete, remote: true, id: "delete-link", class: "trashy" do %>
    <% end %>
  </div>
</div>


