<div id="card-address" class="card-addresses">
  <div class="card-addresses-infos">
    <div class="card-content" data-address="<%= address.address %>">
      <i class="fas fa-bookmark"></i>
      <h2><%= address.name %></h2>
      <p><%= address.address %></p>
    </div>
    <i class="fas fa-trash-alt sweet-alert-demo"></i>
    <%= link_to address_path(address), method: :delete, remote: true, class: "trashy delete-link" do %>
    <% end %>
  </div>
</div>


