<div class="menu-container">
  <div class="menu" id="menuglobal">
    <div class="menu-content">
      <div class="menu-header w-100">
        <div class="w-100" id="menu-title">Welcome <%= @user.first_name %> </div>
      <div>
        <%= image_tag "avatar.jpg", class: "avatar" %>
      </div>
      <div class="container-user-info flex-row-center";>
        <!--  <div class="profile">
          <h2>My profile</h2>
        </div> -->
        <!--  <div class="cars">
          <h2>My cars</h2>
          <div class="card-cars">
            <div class="card-cars-infos d-flex">
              <div>
                <h2>Twingo</h2>
                <p>Product description</p>
              </div>
              <i class="fas fa-car"></i>
            </div>
          </div>
        </div>
-->
        <div class="addresses">

            <div id="menu-category"> My Addresses</div>
            <div class="card-addresses card-br-top">
                <div class="card-addresses-infos">
                  <i class="fas fa-home"></i>
                <div>
                    <h2>Home</h2>
                    <p>28, rue des Lilas<br>75011 Paris</p>
                  </div>
                  <a href="" class="trashy">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </div>
            </div>
            <div class="card-addresses">
              <div class="card-addresses-infos">
                <i class="fas fa-briefcase"></i>
                <div>
                  <h2>Work</h2>
                  <p>41, rue des Bleuets<br>92240 Malakoff</p>
                </div>
                  <a href="" class="trashy">
                    <i class="fas fa-trash-alt"></i>
                  </a>
              </div>
            </div>
            <div class="new-address">
              <% if @myaddress %>
                <%= render 'address', address: @myaddress %>
              <% end %>
            </div>
            <div class="btn-container">
              <button type="button"class="btn-addresses">
                ADD AN ADDRESS
              </button>
            </div>
        </div>
      </div>
      <div class="logout">
        <%= link_to 'Sign-out', destroy_user_session_path,  method: :delete %>
      </div>
    </div>
  </div>
</div>
