<div class="main">
  <div id="map" data-markers="<%= @markers.to_json %>">
  </div>
  <div class="map-header">
    <div class="menu-btn">
      <i class="fas fa-hamburger"></i>
    </div>
    <div class="search-bar">
        <input class="controls autocomplete" type="text" placeholder="Votre adresse"/>
    </div>
  </div>
  <div class="toggle-park">
    <i class="fas fa-car"></i>
  </div>
  <div class="around-me">
    <%= image_tag("near-me.svg") %>
  </div>
  <%= render 'menu_open'%>
  <div class="address-form">
    <%= render 'form', address: @address %>
  </div>
</div>
