<div class="map">
  <div class="map-header">
    <div class="menu-btn">
      <div class ="trait">
      </div>
      <div class ="trait">
      </div>
      <div class ="trait">
      </div>
    </div>
    <div class="search-bar">
        <input class="ap-input" />
        <button type="button" class="ap-input-icon ap-icon-clear">X</button>
        <button type="button" class="ap-input-icon ap-icon-pin">Pin</button>
  </div>
  <div class="actions">
    <div class="toggle-park">
    </div>
    <div class="around-me">
    </div>
  </div>
  <div class="menu">
    <div class="menu-header">
    </div>
    <div class="avatar">
    </div>
    <div class="menu-content">
      <div class="cars">
      </div>
      <div class="addresses">
      </div>
    </div>
    <div class="menu-footer">
    </div>
  </div>
</div>
