<h1 class="modal-title" id="exampleModalLabel"> Hi, <%= current_user.first_name  %> !</h1>
<p>What do you want to do?</p>
<%= link_to "Find a spot around me", "/spot_searches/1" %>
<br>
<%= link_to "Enter my destination", "/spot_searches/1" %>
<br>
<%= link_to "Pawk! I found a free spot", '#', class: "pawk"  %>
