.card-addresses {
  background: white;
  align-items: center;
  margin-bottom:15px;
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;

}

.card-br-btm {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;

}

.card-br-top{
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
.card-addresses h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-addresses p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
  max-width: 150px;
}

.card-addresses .card-addresses-infos .card-content {
  display: flex;
    i{
      margin-right: 10px;
      margin-bottom: 46px;
    }
    .address-content{
      display: flex;
      flex-direction: column;
    }
  position: relative;
}

.card-addresses .card-addresses-infos {
  padding: 16px;
  align-items: center;
  display: flex;
    i{
      margin-right: 10px;
      margin-bottom: 46px;
      font-size:19px;
    }
  position: relative;
}

