.card-login {
  background-color: $dark-blue;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  border-radius: 60px 60px 60px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;

  h2 {
    padding: 20px;
    font-size: 32px;
  }
  span {
    color: white;
    font-size: 16px;
  }
  a {
    color: $light-blue;
    font-size: 16px;
  }
  i {
    color: white;
    position: absolute;
    right:15px;
  }
}

.display {
  transform: translateY(0);
}

.card-signup {
  background-color: $dark-blue;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  height: 100vh;
  text-align: center;
  h2 {
    padding: 20px;
    font-size: 32px;
    text-align: center;
  }
  a {
    color: $light-blue;
    font-size: 16px;
  }
}

#btn-start-logged a{
  color: white;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
