.card-login {
  background-color: $dark-blue;
  font-size: 12px;
  padding: 15px;
  width: 250px;
  border-radius: 60px 60px 60px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
  top: 40%;
  right: 10%;
h2 {
  color: $light-blue;
  padding-left: 20px;
}
a {
  color: white;
}
}
