// . {
//   color: white;
//   overflow: hidden;
//   }

.modal-content{
  background-image: linear-gradient(to bottom, $purple, #a52775);
  border-radius: 50px;

.btn-addresses {
color: white;
font-size: 12px;
}
}
