.form-inputs {
  color: white;
  overflow: hidden;
  text-align: left !important;
}

  #user_email, #user_password, #user_password_confirmation {
    font-size: 12px;
    background-color: transparent !important;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    overflow: hidden;
    color: white;
}

.form-actions {
  background-image: linear-gradient(to bottom, $purple, #a52775);
  border-radius: 50px;
  width: 60px;
  margin: auto;
.btn {
  color: white !important;
  font-size: 12px;
}
}

#user_remember_me {
    width: 10px;
  }

#new_user {
  flex-direction: column;
}
