.form-login {
  font-size: 16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
   .form-inputs {
    color: white;
    font-size: 20px;
    overflow: hidden;
  }
  #logo {
    padding-top: 0px !important;
  }
  #btn-login {
    border: none;
  }
  h2 {
    background-image:linear-gradient(to left, $purple, $pink);
    color:rgba(0, 0, 0, 0);
    -webkit-background-clip:text;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 40px;
  }
  span {
    color: white;
    font-size: 16px;
  }
  a {
    color: $light-blue;
    font-size: 16px;
  }
  i {
    color: white;
    position: absolute;
    right:15px;
  }
}

.display {
  transform: translateY(0);
}

  #user_email, #user_password, #user_password_confirmation {
    font-size: 16px;
    background-color: transparent !important;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    overflow: hidden;
    color: white;
}

.form-check {
  display: flex;
}
.form-check-label {
  color: $light-blue;
  font-size: 16px;
}

#user_remember_me {
  width: 16px;
}

#new_user {
  flex-direction: column;
}
