.around-me {
  position: absolute;
  z-index: 2;
  left: 88%;
  bottom: 32px;
  width: 64px;
  height: 64px;
  justify-content: space-around;
  align-items: center;
  // color: $dark-blue;
  // font-size: 40px;
  transform: translateX(-50%);
  img {
    width: 64px;
  }
}

.pawk-now {
  position: absolute;
  z-index: 2;
  left: 12%;
  bottom: 36px;
  width: 56px;
  height: 56px;
  justify-content: space-around;
  align-items: center;
  // color: $dark-blue;
  // font-size: 40px;
  transform: translateX(-50%);
  img {
    width: 56px;
  }
}

.toggle-park {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 32px !important;
  // width: 40px;
  // height: 40px;
  justify-content: space-around;
  align-items: center;
  // color: $dark-blue;
  // font-size: 40px;
  transform: translateX(-50%);
}

.onoffswitch {
  position: relative;
  width: 140px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.onoffswitch-switch {
  display: block;
  width: 53px;
  margin: 6px;
  // background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 47px;
  // border: 2px solid #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease-in 0s;
  img{
    width: 53px;
  }
}

.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  // border: 2px solid #FFFFFF;
  border-radius: 10px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 50px;
  padding: 0;
  line-height: 50px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "P";
  padding-left: 12px;
  background-color: #4becd9;
  color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: ">>";
  padding-right: 12px;
  background-color: #EB1534;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
