.main {
  position: relative;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 1;
  will-change: transform;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
