#menuglobal {
  position: absolute;
  top: 0px;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all .3s ease-in-out;
  text-align:center;

  .menu-content {
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }
}

#address-form {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform .3s ease-in-out;
  z-index: 3;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);

  .form-data {
    input {
        margin: 0 auto;
        width: 100%;
    }
  }


  .form-submit{
    background-image: linear-gradient(to bottom, $purple, #a52775);
    border-radius: 50px;
    width:100%;
    margin: auto;
    .btn {
      color: white;
      font-size: 12px;
    }
  }
}

#close-address{
  z-index: 1000;
  margin-top: 30px;
  margin-right: 20px;
  //
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: white !important;
  background-color: $dark-blue !important;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 0px !important;
  border-style: none !important;
  border-color: none !important;
  border-image: none !important;

  i{
    color: white !important;
    font-size: 12px;
    z-index: 2000;
  }
}

#address-form-body{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-category{
  font-size:15px;
  margin-bottom:24px;
  margin-top:12px;
}

#menu-title{
  font-size:27px;
}

.btn-addresses{
  text-align: center;
  cursor: default;
  color: white !important;
  background-color: $dark-blue !important;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 0px !important;
  border-style: none !important;
  border-color: none !important;
  border-image: none !important;
  border-radius: 12px;
  align-items: center;
  margin-bottom:20px;
}

.addresses{
  padding:10px;
  margin-bottom:20px;

}

.menu-footer{
  align-items:center;
  margin-bottom:20px;

}

.menu-header{
  margin-top:20px;
}
