.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0 !important;
    background-color: #000;
}

.modal-dialog {
  height: 90%;
}

.modal-content {
  height: 109%;
}
