.modal {
  z-index: 900;
 background-color: $dark-blue;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 700 !important;
}

.modal-header {
  border-bottom: none !important;
  i {
    color: white !important;
    position: absolute;
    right:10px;
    font-size: 12px;
  }

}
.modal-dialog {
  height: 100%;
}

.modal-content {
  height: 100%;
    width: 100%;
    pointer-events: auto;
    background-color: $dark-blue !important;
    background-clip: none !important;
    border: none !important;
    border-radius: none !important;
    outline: 0;
    background-image: none !important;
    border-radius: 0px !important;
}



.modal-title {
  color: white;
}

.modal-body p {
  color: white;
}
