.card-signup {
  i {
    color: white;
    position: absolute;
    right:15px;
    top: 15px;
  }
}

.card-signup span {
  text-shadow: 2px 2px 2px $purple;
 }

.titles {
  text-shadow: 2px 2px 2px $purple;
}

